$tel: 375;
$phone: 600;
$tablet: 768;
$tablet-2: 992;
$desktop: 1230;

$burgerWidth: 30px;
$burgerHeight: 20px;
$burgerLineHeight: 2px;
$burgerColor: #363853;

$mobileburgerWidth: 25px;
$mobileburgerHeight: 20px;
