.categories-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include md($tablet-2) {
    gap: 10px;
  }

  &__btn {
    outline: 1px solid $c-silver-200;
    border-radius: 5px;
    font-size: 20px;
    padding: 13px 32px;
    color: $c-darkBlue-900;
    background-color: transparent;
    transition: outline-color 0.3s ease-in-out, color 0.3s ease-in-out,
      background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    @include md($phone) {
      font-size: 14px;
      padding: 12px 15px;
    }

    &::before {
      min-width: 44px;
      height: 44px;
      margin-right: 10px;

      @include md($phone) {
        min-width: 20px;
        height: 20px;
        margin-right: 7px;
      }
    }

    &:focus {
      outline-color: rgba($c-orange-900, 0.7);
      outline-width: 2px;
    }

    &:hover {
      outline-color: rgba($c-orange-900, 0.7);
      outline-width: 2px;
      background-color: rgba($c-orange-900, 0.1);
      color: $c-orange-900;

      &::before {
        background-color: $c-orange-900;
      }
    }
    &:active {
      outline-color: transparent;
      box-shadow: inset 0 -5px 12px 0 rgba($c-orange-900, 0.2);
      background-color: $c-white;
      color: $c-darkBlue-900;

      &::before {
        background-color: $c-darkBlue-900;
      }
    }

    &:active {
      background-color: $c-orange-900;
      color: $c-white;

      &::before {
        background-color: $c-white;
      }
    }
  }

  @include md($tablet) {
    justify-content: flex-start;
    overflow: scroll;
    padding: 2px;
    scrollbar-width: none;
  }
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;

  @include md($tablet-2) {
    grid-template-columns: repeat(4, 1fr);
    padding-right: 30px;
    gap: 15px;
  }

  @include md($tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 30px;
  }

  @include md($phone) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-row-gap: 11px;
  }
}
