.features {
  @include md($phone) {
    margin-bottom: 64px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;

    @include md($tablet) {
      position: relative;
    }
  }

  &__picture {
    width: 440px;
    height: 585px;
    background-size: contain;
    background-repeat: no-repeat;

    @include md($tablet) {
      position: absolute;
      z-index: -1;
      background-size: contain;
      opacity: 0.3;
      height: 462px;
    }
  }

  &__content {
    max-width: 470px;
    width: 100%;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;

    @include md($tablet) {
      margin-bottom: 20px;
    }

    @include md($phone) {
      margin-bottom: 29px;
    }
  }

  &__text {
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 30px;
    @include line-clamp(4);
    @include fz(20, 18);

    @include md($tablet) {
      margin-right: 30px;
    }

    @include md($phone) {
      margin-bottom: 20px;
    }
  }

  &__list {
    margin-bottom: 30px;

    @include md($tablet) {
      margin-bottom: 20px;
    }
  }

  &__item {
    line-height: 1.5;
    @include fz(24, 18);

    &:not(:last-child) {
      margin-bottom: 20px;

      @include md($tablet) {
        margin-bottom: 18px;
      }

      @include md($phone) {
        margin-bottom: 15px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::before {
      content: '';
      margin-right: 30px;
      min-width: 34px;
      height: 34px;
      background-color: $c-orange-900;
      mask-image: url('../images/sprite.svg#icon-timer');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;

      @include md($phone) {
        margin-right: 12px;
      }
    }

    &--delivery {
      &::before {
        background-color: #00aaff;
        mask-image: url('../images/sprite.svg#icon-delivery');
      }
    }

    &--restaurant {
      &::before {
        background-color: #ff2222;
        mask-image: url('../images/sprite.svg#icon-restorant');
      }
    }
  }

  &__btn {
    @include md($tablet) {
      font-size: 14px;
    }

    @include md($phone) {
      padding: 11px 32px;
    }
  }
}
