.feedback {
  margin-bottom: 127px;
  @include md($phone) {
    padding-right: 34px;
  }

  &__title {
    @include md($phone) {
      margin-right: 0;
    }
  }
}

.feedback-slider {
  position: relative;
  &__inner {
    max-width: 990px;
    width: 100%;
    margin-bottom: 25px;
  }

  &__slide {
    display: flex;

    @include md($tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;

    @include md($tablet) {
      width: 200px;
      height: 200px;
      margin-bottom: 30px;
    }

    @include md($phone) {
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  &__author {
    max-width: 552px;
    width: 100%;
    padding: 0 40px;
    align-self: center;
    position: relative;

    @include md($tablet) {
      max-width: 400px;
    }

    @include md($phone) {
      max-width: 264px;
    }
  }

  &__text {
    @include fz(20, 14);
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 30px;

    @include md($phone) {
      margin-bottom: 20px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      color: $c-gray;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    &::before {
      mask-image: url('../images/sprite.svg#icon-quote-open');
      left: 0;
      top: -5px;
      background-color: $c-gray;

      @include md($phone) {
        top: -11px;
        left: 7px;
      }
    }

    &::after {
      mask-image: url('../images/sprite.svg#icon-quote-close');
      right: -17px;
      bottom: 89px;
      background-color: $c-gray;

      @include md($desktop) {
        right: 9px;
      }

      @include md($phone) {
        right: 4px;
        bottom: 80px;
      }
    }
  }

  &__client-name {
    color: $c-orange-900;
    @include fz(20, 16);
    font-weight: 500;
    margin-bottom: 15px;

    @include md($phone) {
      margin-bottom: 10px;
    }
  }

  &__client-descr {
    font-size: 14px;
  }

  .reviews-slider {
    &__navigation {
      display: flex;
      justify-content: center;
      align-items: center;

      @include md($phone) {
        position: absolute;
        top: 30px;
        justify-content: space-between;
        left: 33px;
        right: 33px;
      }

      @include md($phone) {
        top: 33px;
        left: 39px;
      }
    }

    &__prev,
    &__next {
      position: relative;
      border-radius: 50%;
      background-color: $c-white;
      width: 34px;
      height: 34px;
      outline: 2px solid $c-gray;
      transition: box-shadow 0.3s, border 0.3s, background-color 0.3s;

      &::after {
        content: '';
        mask-image: url('../images/sprite.svg#icon-left');
        background-color: $c-gray;
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        width: 11px;
        height: 19px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background-color 0.3s;
        z-index: 5;
      }

      &:focus {
        outline-color: rgba(255, 104, 56, 0.7);
      }

      &:hover {
        background-color: $c-orange-50;
        outline: 3px solid rgba(255, 104, 56, 0.5);

        &::after {
          background-color: rgba(255, 104, 56, 0.5);
        }
      }

      &:active {
        outline: transparent;
        background-color: $c-orange-50;

        &::after {
          background-color: $c-orange-900;
        }
      }
    }

    &__next {
      &::after {
        mask-image: url('../images/sprite.svg#icon-right');
      }
    }

    &__bullet {
      @include md($phone) {
        display: none;
      }
    }
  }
}
