.hero {
  align-items: center;

  @include md($tel) {
    margin-bottom: 65px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 159px;

    @include md($tablet-2) {
      position: relative;
    }
  }

  &__content {
    max-width: 500px;
    z-index: 1;

    @include md($tablet) {
      max-width: 350px;
    }
  }

  &__title,
  &__time {
    font-weight: 500;
    @include fz(66, 40);
    text-transform: uppercase;
    margin-bottom: 20px;
    @include line-clamp(2);

    &--orange {
      color: $c-orange-900;
      margin-bottom: 0;
    }
  }

  &__text {
    max-width: 450px;
    @include fz(20, 16);
    line-height: 1.5;
    margin-bottom: 20px;
    @include line-clamp(3);
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__bg {
    max-width: 560px;
    width: 100%;
    height: 660px;
    background-size: cover;
    background-repeat: no-repeat;

    @include md($tablet-2) {
      background-size: contain;
      position: absolute;
      max-width: 355px;
      height: 450px;
      right: 90px;
      top: 100px;
      z-index: -1;

      @include md($tablet) {
        max-width: 300px;
        height: 350px;
      }

      @include md($phone) {
        opacity: 0.3;
        max-width: 255px;
        height: 300px;
      }
    }
  }
}
