.popular {
  @include md($phone) {
    margin-bottom: 67px;
  }

  &__title {
    @include md($phone) {
      margin-bottom: 19px;
    }
  }

  &__nav {
    margin-bottom: 45px;

    @include md($phone) {
      margin-bottom: 20px;
    }
  }

  &__list {
    margin-bottom: 60px;
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 0 auto;

    @include md($phone) {
      font-size: 20px;
      padding-right: 30px;
    }
  }
}
