.about-product {
  padding-left: 30px;

  @include md($phone) {
    margin-bottom: 45px;
    padding-left: 0;
    padding-right: 30px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: start;

    @include md($phone) {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include md($desktop) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include md($phone) {
      margin-top: -10px;
      margin-bottom: 30px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.4;
    color: $c-darkBlue-900;
    margin-bottom: 20px;
  }

  &__star {
    margin-bottom: 25px;

    @include md($phone) {
      margin-bottom: 15px;
    }
  }
}

.about-slider {
  margin-left: 0;
  margin-right: 0;
  background-color: $c-white;
  width: 610px;
  height: 550px;
  box-shadow: 0 0 0 1px $c-silver-200;
  border-radius: 5px;
  position: relative;

  @include md($desktop) {
    margin-bottom: 30px;
  }
  @include md($tablet) {
    width: 510px;
    height: 450px;
  }
  @include md($phone) {
    width: 345px;
    height: 345px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    @include md($tablet) {
      width: 350px;
      height: 350px;
    }
    @include md($phone) {
      width: 300px;
      height: 300px;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    background-color: transparent;

    @include md($tablet) {
      display: none;
    }

    &::before {
      content: '';
      background-image: url(../images/sprite.svg#icon-chevron-left);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 19px;
      height: 32px;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__prev {
    left: 25px;
  }

  &__next {
    right: 25px;

    &::before {
      background-image: url(../images/sprite.svg#icon-chevron-right);
    }
  }
}

.about-popup {
  &__container {
    border-radius: 15px;
    width: 90vw;
    height: 90vh;
  }

  &__slide {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background-color: $c-white;
  }

  &__pagination {
    position: sticky;
    bottom: 10vh !important;
  }

  &__close {
    overflow: visible;
    width: 32px;
    height: 32px;
    background-image: url('../images/close.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1046;
    touch-action: manipulation;
    position: absolute;
    right: 38px;
    top: 38px;
  }
}

.about-form {
  margin-bottom: 30px;

  &__input {
    padding: 0;
    max-width: 158px;
    height: 44px;
    padding: 0 44px;
    margin-right: 20px;

    @include md($phone) {
      display: block;
      margin-bottom: 15px;
      max-width: 44px;
    }
  }

  &__btn {
    font-weight: 500;
    padding: 13px 38px 13px 70px;
    font-size: 14px;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;

    &::after {
      content: '';
      mask-image: url('../images/sprite.svg#icon-cart');
      background-color: $c-white;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      width: 17px;
      height: 17px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 38px;
    }

    &:focus,
    &:hover,
    &:active {
      &::after {
        background-color: $c-orange-900;
      }
    }
  }
}

.about-delivery {
  max-width: 535px;
  width: 100%;

  &__title {
    font-weight: 400;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;

    @include md($phone) {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $c-gray-50;
    margin-bottom: 20px;

    @include md($phone) {
      margin-bottom: 15px;
    }
  }

  &__link {
    @include md($phone) {
      font-size: 16px;
    }
  }
}

.jq-number {
  &__field {
    background-color: (rgba($c-orange-900, 0.1));
    width: 70px;
    height: 44px;
    border: none;
    box-shadow: none;
  }

  &__field input {
    width: 100%;
    padding: 10px 17px;
    border: none;
    outline: none;
    background: none;
    @extend %rubik;
    font-weight: 400;
    color: $c-darkBlue-900;
    letter-spacing: 0.03em;
    line-height: 1;
    font-size: 20px;
    text-align: center;
  }

  &__spin {
    position: absolute;
    top: 0;
    width: 44px;
    height: 44px;
    border: none;
    box-shadow: none;
    background: $c-orange-900;
    text-shadow: none;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;

    &::after {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: none;
      transition: background 0.3s, box-shadow 0.3s;
    }

    &:hover,
    &:active {
      background: $c-white;
      box-shadow: 0 0 0 2px rgba($c-orange-900, 0.7);

      &.minus,
      &.plus {
        &::after {
          background-color: $c-orange-900;
        }
      }
    }

    &:active {
      box-shadow: none;
    }
  }

  &__spin.minus,
  &__spin.plus {
    right: auto;
    left: 0;
    border-radius: 3px 0px 0px 3px;

    &::after {
      content: '';
      top: 0;
      border: none;
      mask-image: url(../images/sprite.svg#icon-minus);
      background-color: $c-white;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      width: 20px;
      height: 20px;
    }
  }

  &__spin.plus {
    right: 0;
    left: auto;
    border-radius: 0px 3px 3px 0px;

    &::after {
      mask-image: url(../images/sprite.svg#icon-plus);
    }
  }
}

.product-tabs {
  border-top: 2px solid #e4e4e4;

  &__container {
    max-width: 720px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
  }

  &__top {
    margin: 30px 0;
    display: flex;

    @include md($tablet) {
      justify-content: flex-start;
      overflow: scroll;
      margin: 26px 0;
      padding: 2px 0;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        background: transparent;
      }
    }
  }

  &__name {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 60px;

      @include md($phone) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    font-size: 24px;
    line-height: 1.5;

    @include md($phone) {
      font-size: 20px;
    }

    &--active {
      color: $c-orange-900;
    }
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__description,
  &__characteristics {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;

    @include md($phone) {
      font-size: 16px;
    }

    & p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__characteristics {
    & p {
      font-weight: 500;

      & span {
        font-weight: 400;
      }
    }

    & p:not(:last-child) {
      margin-bottom: 10px;
      @include md($phone) {
        margin-bottom: 15px;
      }
    }
  }

  &__reviews {
    margin-bottom: 60px;

    @include md($phone) {
      margin-bottom: 45px;
    }
  }
}

.customer-opinions {
  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
      border-bottom: 2px solid #e4e4e4;
      padding-bottom: 20px;

      @include md($phone) {
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include md($phone) {
      flex-direction: column;
      margin-bottom: 15px;
    }
  }

  &__author-img {
    border-radius: 50%;
    margin-right: 25px;
  }

  &__inner {
    display: flex;
    margin-right: auto;

    @include md($phone) {
      margin-bottom: 15px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $c-gray-50;
    margin-bottom: 10px;

    @include md($phone) {
      margin-bottom: 8px;
    }
  }

  &__time {
    letter-spacing: 0.03em;
    color: $c-gray-50;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    color: $c-gray-50;

    @include md($phone) {
      font-size: 16px;
    }
  }

  &__star {
    align-self: center;

    @include md($phone) {
      align-self: flex-start;
    }
  }
}

.feedback-form {
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__name {
    font-size: 20px;
    color: $c-gray-50;
    margin-right: 15px;
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    mask-image: url('../images/star.svg');
    background-color: #c1c1c1;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    width: 16px;
    height: 16px;

    &--active {
      background-color: #ffb800;
    }
  }

  &__fields {
    margin-bottom: 30px;
  }

  &__save {
    display: flex;
    margin-bottom: 30px;
  }

  &__checkbox {
    max-width: 650px;
    width: 100%;
    color: $c-gray-50;
    padding-left: 34px;
    position: relative;

    &::before {
      border: 1px solid #c1c1c1;
    }
  }

  &__input {
    &:checked {
      & + .feedback-form__checkbox {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__btn {
    letter-spacing: 0.03em;
    padding: 12px 32px;

    @include md($phone) {
      font-size: 18px;
    }
  }
}

.form-reviews {
  display: flex;

  @include md($tablet) {
    flex-direction: column;
  }

  &__textarea {
    margin-right: auto;

    @include md($phone) {
      margin-bottom: 20px;
    }
  }

  &__label {
    display: block;
    font-size: 20px;
    color: $c-gray-50;
    margin-bottom: 15px;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 10px;

      @include md($phone) {
        margin-bottom: 20px;
      }
    }
  }

  &__field {
    display: block;
    width: 260px;
    background-color: $c-white;
    border: 1px solid $c-gray;
    border-radius: 5px;
    padding: 17px;
    font-size: 16px;
    transition: box-shadow 0.3s, color 0.3s;

    @include md($phone) {
      width: 310px;
      padding: 17px 17px 13px;
    }

    &--textarea {
      width: 400px;
      height: 130px;
      resize: none;
      margin-right: 30px;

      @include md($phone) {
        width: 310px;
      }
    }

    &::placeholder {
      color: #c1c1c1;
    }

    &:focus {
      box-shadow: 0 0 0 2px $c-orange-900;
      border: 1px solid transparent;
    }

    &:hover {
      &::placeholder {
        color: $c-darkBlue-900;
      }
    }
  }
}

.view-more {
  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    @include md($tablet) {
      margin-bottom: 30px;
    }
  }
  &__title {
    margin-bottom: 0;
    margin-right: auto;

    @include md($phone) {
      font-size: 20px;
    }
  }

  &__next,
  &__prev {
    border: 3px solid $c-gray;

    @include md($tablet) {
      display: none;
    }
    &::after {
      background-color: $c-gray;
    }
  }

  &__prev {
    margin-right: 20px;
  }

  &__container {
    padding: 2px;
    margin: -2px;

    @include md($tablet) {
      margin-bottom: 30px;
    }

    @include md($phone) {
      width: 345px;
      margin: -2px auto 30px;
    }
  }

  &__item {
    max-width: 210px;
    width: 100%;
    text-align: center;
  }

  &__products {
    justify-content: space-between;
  }
}

.reviews-slider {
  &__prev,
  &__next {
    position: relative;
    border-radius: 50%;
    background-color: $c-white;
    width: 34px;
    height: 34px;
    outline: 1px solid $c-gray;
    transition: box-shadow 0.3s, border 0.3s, background-color 0.3s;

    &::after {
      content: '';
      mask-image: url('../images/sprite.svg#icon-left');
      background-color: $c-gray;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
      width: 11px;
      height: 19px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s;
      z-index: 5;
    }

    &:focus {
      outline-color: rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: $c-orange-50;
      outline: 3px solid rgba(255, 104, 56, 0.5);

      &::after {
        background-color: rgba(255, 104, 56, 0.5);
      }
    }

    &:active {
      outline: transparent;
      background-color: $c-orange-50;

      &::after {
        background-color: $c-orange-900;
      }
    }
  }

  &__next {
    &::after {
      mask-image: url('../images/sprite.svg#icon-right');
    }
  }
}

.card-adv {
  padding: 20px 15px;
  background-color: $c-white;
  box-shadow: 0 0 0 1px $c-silver-200;
  border-radius: 5px;
  transition: box-shadow 0.3s;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__number {
    font-weight: 500;
    font-size: 15px;
    color: $c-darkBlue-900;
    line-height: 1.4;
  }

  &__text {
    font-size: 15px;
    margin-bottom: 28px;
    font-weight: 400;
    line-height: 1.2;
    @include line-clamp(2);

    &--margin {
      margin-bottom: 10px;
    }

    &--royal {
      @include md($tablet) {
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    padding: 7px 16px;
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $c-orange-900;
  }
}
