.best-restaurants {
  text-align: center;

  @include md($phone) {
    padding-right: 30px;
  }

  &__title {
    margin-right: 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include md($desktop) {
      grid-template-columns: repeat(2, 370px);
      display: flex;
      justify-content: center;
    }

    @include md($tablet-2) {
      grid-template-columns: repeat(2, 345px);
    }

    @include md($tablet) {
      gap: 0;
      display: flex;
      justify-content: flex-start;
    }
  }

  &__container {
    overflow: visible;
    background-color: transparent;

    @include md($tablet) {
      overflow: hidden;
      width: 345px;
      height: 419px;
      border-radius: 10px;
    }
  }
}

.restaurants-card__bullet,
.reviews-slider__bullet {
  width: 15px;
  height: 15px;
  background-color: $c-gray;
  opacity: 1;
  outline: transparent;
  margin: 0 !important;
  transition: box-shadow 0.3s, background-color 0.3s;

  &:not(:last-child) {
    margin: 0 15px 0 0 !important;
  }

  &:focus {
    box-shadow: 0 0 0 2px $c-orange-900;
  }

  &:hover {
    background-color: rgba($c-orange-900, 0.1);
    box-shadow: 0 0 0 2px rgba($c-orange-900, 0.7);
  }

  &:active {
    background-color: rgba($c-orange-900, 0.5);
  }
}

.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  width: auto !important;
  margin: 0 23px;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: $c-orange-900;
}

.restaurants-card__pagination {
  @include md($phone) {
    padding-top: 30px;
  }
}
