.restaurant-card {
  max-width: 370px;
  box-shadow: 0px 3px 3px 0px rgba($c-dark, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 3px 15px rgba($c-orange-900, 0.5);

    .restaurant-card__img {
      transform: scale(1.2) rotate(5deg);
    }
  }

  &__link {
    overflow: hidden;
    @include adaptive-image(370px, 300px);
  }

  &__img {
    transition: transform 0.3s ease-in-out;
  }

  &__content {
    padding: 15px 20px 20px 20px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    &::before {
      content: '';
      margin-right: 10px;
      min-width: 22px;
      height: 22px;
      background-color: $c-dark;
      mask-image: url('../images/sprite.svg#icon-time');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
    }
  }

  &__btn {
    width: 27px;
    height: 24px;
    border-radius: 20px;
    padding: 5px 27px;
    position: relative;
    cursor: pointer;
    outline: 1px solid $c-orange-900;

    &::before {
      content: '';
      mask-image: url('../images/sprite.svg#icon-arrow-right');
      background-color: $c-white;
      mask-repeat: no-repeat;
      mask-size: 14px 14px;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      transition: all 0.3s;
    }

    &:focus {
      &::before {
        background-color: $c-orange-900;
      }
    }

    &:hover {
      &::before {
        box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
        transform: translate(100%, -50%);
        background-color: $c-orange-900;
      }
    }

    &:active {
      &::before {
        transform: translate(-50%, -50%);
      }
    }
  }
}
